langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-experimental
langchain-google-genai
langsmith
chromadb
sentence-transformers
tf-keras
huggingface_hub
networkx
umap-learn
scikit-learn
fastapi
uvicorn
streamlit
requests
python-multipart
langchain-classic
pypdf
python-dotenv
